body {
  width: auto;
  height: auto;
  margin: auto;
  background-color:#EA5F4A;
  overflow:auto;
}

h1 {
  text-align: center;
  font-family: monospace;
}

.container {
  width: 1000px;
  height: 500px;
  border: 7px solid black;
  box-sizing: border-box;
}
